@model IReadOnlyList<CategoryViewModel>
@using Newtonsoft.Json
@{
    Layout = "_LayoutAdmin";
    var index = 0;
    var categories = Model ?? new List<CategoryViewModel>();
}
@section scripts{
<script src="~/assets/js/category.manage.js"></script>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-alt bg-body-extra-light px-4 py-2 rounded push fs-sm">
        <li class="breadcrumb-item">
            <a href="javascript:void(0)">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a class="text-primary" href="/admin/dashboard"> Dashboard </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <span class="text-primary">Categories</span>
        </li>
    </ol>
</nav>

<!-- Posts Statistics -->
<div class="row text-center">
    <div class="col-6 col-xl-3">
        <!-- All Posts -->
        <a class="block block-rounded" href="/manage/category">
            <div class="block-content block-content-full">
                <div class="">
                    <div class="d-none d-md-block">
                        <i class="far fa-2x fa-list-alt text-primary"></i>
                    </div>
                    <p class="fs-4 fw-bold mb-0"> 500 </p>
                    <p class="text-muted mb-0"> All Categories </p>
                </div>
            </div>
        </a>
        <!-- END All Posts -->
    </div>
    <div class="col-6 col-xl-3">
        <!-- Active Posts -->
        <a class="block block-rounded" href="/manage/category/ontab">
            <div class="block-content block-content-full">
                <div class="">
                    <div class="d-none d-md-block">
                        <i class="far fa-2x fa-list-alt text-primary"></i>
                    </div>
                    <p class="fs-4 fw-bold mb-0"> 20 </p>
                    <p class="text-muted mb-0"> Categories On-Tabs </p>
                </div>
            </div>
        </a>
        <!-- END Active Posts -->
    </div>
    <div class="col-6 col-xl-3">
        <!-- Draft Posts -->
        <a class="block block-rounded" href="/manage/category/trash">
            <div class="block-content block-content-full">
                <div class="">
                    <div class="d-none d-md-block">
                        <i class="fa fa-2x fa-trash-alt text-primary"></i>
                    </div>
                    <p class="fs-4 fw-bold mb-0"> 100 </p>
                    <p class="text-muted mb-0"> Trash Bin </p>
                </div>
            </div>
        </a>
        <!-- END Draft Posts -->
    </div>
    <div class="col-6 col-xl-3">
        <!-- New Post -->
        <a class="block block-rounded" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modal-category">
            <div class="block-content block-content-full">
                <div class="">
                    <div class="d-none d-md-block">
                        <i class="fa fa-2x fa-plus text-primary"></i>
                    </div>
                    <p class="fs-4 fw-bold mb-0">
                        <i class="fa fa-plus text-primary me-1 d-md-none"></i> Add New
                    </p>
                    <p class="text-muted mb-0"> by Duy Khanh </p>
                </div>
            </div>
        </a>
        <!-- END New Post -->
    </div>
</div>
<!-- Post Statistics -->

<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title text-primary">Manage Categories</h3>
    </div>
    <div class="block-content bg-body-extra-light">
        <table class="table table-striped table-borderless table-vcenter">
            <thead>
                <tr class="bg-body-dark">
                    <th class="text-center" style="width: 50px;">#</th>
                    <th>Tên</th>
                    <th class="d-none d-md-table-cell text-center" style="width: 200px;">Show On-Tabs</th>
                    <th class="d-none d-sm-table-cell text-center" style="width: 100px;">Status</th>
                    <th class="d-none d-md-table-cell text-center" style="width: 100px;">Position</th>
                    <th class="text-center" style="width: 100px;">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (categories?.Count > 0)
                {
                    foreach (var item in Model!)
                    {
                        <tr>
                            <td class="text-center" scope="row">@(++index)</td>
                            <td class="fw-semibold">
                                @item.Title
                            </td>
                            <td class="d-none d-md-table-cell text-center">
                                @if (item.ShowOnTab)
                                {
                                    <span class="badge bg-success">True</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">False</span>
                                }
                            </td>
                            <td class="d-none d-sm-table-cell text-center">
                                @if (!item.Publish)
                                {
                                    <span class="badge bg-danger">Draft</span>
                                }
                                else
                                {
                                    <span class="badge bg-success">Publish</span>
                                }
                            </td>
                            <td class="d-none d-md-table-cell text-center"> @(item.Position) </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button"
                                    class="btn btn-sm btn-alt-primary btn-category-update"
                                    data-model="@(JsonConvert.SerializeObject(item))"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-category">
                                        <i class="fa fa-pencil-alt text-primary"></i>
                                    </button>

                                    <button type="button" class="btn btn-sm btn-alt-primary" data-bs-toggle="modal" data-bs-target="#modal-category">
                                        <i class="fa fa-times text-danger"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <div class="alert alert-info" role="alert">
                                <p class="mb-0">No Data!</p>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modal-category" tabindex="-1" role="dialog" aria-labelledby="modal-default-fadein" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manage Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-1">
                    <form action="/api/manage/category" accept-charset='utf-8'>
                        <input type="hidden" name="Id" value="" />
                        @Html.AntiForgeryToken()
                        <div class="row justify-content-center py-sm-3 py-md-4">
                            <div class="col-sm-11 col-md-11">
                                <div class="mb-4">
                                    <label class="form-label" for="category-title">Title</label>
                                    <input type="text" id="category-title" class="form-control" name="title" placeholder="Enter title">
                                </div>
                                <div class="mb-4">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label class="form-label" for="category-url">Url <small class="text-danger">(Note: Auto generate)</small> </label>
                                            <div class="input-group">
                                                <label class="input-group-text pt-1" for="enable-url-edit">
                                                    <input class="form-check-input" id="enable-url-edit" type="checkbox" value="false" name="enable-url-edit">
                                                </label>
                                                <input type="text" class="form-control" id="category-url" name="url" placeholder="https://codemaze.net/url-special.html" readonly>
                                                <span class="input-group-text">
                                                    <i class="fa fa-link"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label" for="category-code">Code</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="category-code" name="code" placeholder="MAZE" readonly >
                                                <span class="input-group-text">
                                                    <i class="fa fa-qrcode"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="category-position">Position</label>
                                    <input type="number" id="category-position" min="0" max="99" value="0" inputmode="numeric" step="1" class="form-control" name="position" placeholder="Enter position..">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label" for="category-note">Note</label>
                                    <textarea class="form-control" id="category-note" rows="3" name="note"></textarea>
                                </div>
                                <div class="mb-4">
                                    <div class="row">
                                        <div class='col-md-6 col-sm-12'>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" value="true" id="category-publish" name="publish" checked>
                                                <label class="form-check-label" for="category-publish">Publish</label>
                                            </div>
                                        </div>
                                        <div class='col-md-6 col-sm-12'>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" value="true" id="category-showOnTab" name="showOnTab">
                                                <label class="form-check-label" for="category-showOnTab">Show On-Tab</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-primary btn-category-submit"><i class="fa fa-check"></i> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
